<section class="section">
  <div class="container">
    <h1 class="title">{{ title }}</h1>
    <form class="form" [formGroup]="searchForm">
      <div class="field is-fullwidth">
        <label class="label">Tip carburant</label>
        <div class="control">
          <div class="select is-fullwidth">
            <select formControlName="carburant">
              <option value="Benzina_Regular">Benzina Standard</option>
              <option value="Motorina_Regular">Motorina Standard</option>
              <option value="GPL">GPL</option>
              <option value="Benzina_Premium">Benzina Superioara</option>
              <option value="Motorina_Premium">Motorina Superioara</option>
              <option value="AdBlue">AdBlue</option>
            </select>
          </div>
        </div>
      </div>

      <div class="field">
        <label class="label">Nume locație</label>
        <div class="control">
          <label class="checkbox mr-2">
            <input type="radio" formControlName="locatie" value="Judet" />
            Raion
          </label>
          <label class="checkbox">
            <input type="radio" formControlName="locatie" value="Oras" />
            Localitate
          </label>
        </div>

        <div class="control has-icons-right mt-2">
          <input
            class="input"
            type="text"
            placeholder="Locație"
            formControlName="nume_locatie"
          />
          <span class="icon is-small is-right">
            <i class="fa-solid fa-location-dot has-text-link"></i>
          </span>
        </div>
      </div>

      <div class="field is-fullwidth">
        <label class="label">Rețele benzinǎrii preferate</label>
        <div class="control">
          <div class="dropdown" [ngClass]="{ 'is-active': dropdownOpen }">
            <div class="dropdown-trigger">
              <button
                type="button"
                class="button is-fullwidth is-justify-content-space-between"
                aria-haspopup="true"
                aria-controls="dropdown-menu3"
                (click)="toggleDropdown()"
              >
                <span>
                  Benzinǎrii selectate ({{ selectedStations.length }})
                </span>
                <span class="icon is-small">
                  <i
                    class="fas fa-angle-down has-text-link"
                    aria-hidden="true"
                  ></i>
                </span>
              </button>
            </div>
            <div class="dropdown-menu" id="dropdown-menu3" role="menu">
              <div class="dropdown-content">
                <div class="dropdown-item">
                  <label class="checkbox">
                    <input
                      type="checkbox"
                      (change)="selectAll($event)"
                      [checked]="areAllSelected()"
                    />
                    Toate
                  </label>
                </div>
                <hr class="dropdown-divider" />
                <div class="dropdown-item" *ngFor="let station of gasStations">
                  <label class="checkbox">
                    <input
                      type="checkbox"
                      [value]="station"
                      (change)="selectStation(station, $event)"
                      [checked]="isSelected(station)"
                    />
                    {{ station }}
                  </label>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="field is-grouped">
        <div class="control">
          <button
            class="button is-link"
            type="submit"
            [disabled]="searchForm.invalid || selectedStations.length === 0"
            (click)="search()"
          >
            Submit
          </button>
        </div>
        <div class="control">
          <button class="button is-link is-light" (click)="cancel()">
            Cancel
          </button>
        </div>
      </div>
    </form>

    <div class="error-container" *ngIf="this.hasError">
      <p class="error-message">{{ this.errorMessage }}</p>
    </div>
  </div>
  <div id="map" style="height: 500px; width: 100%"></div>
</section>

<section class="section">
  <table class="table is-fullwidth is-striped is-hoverable">
    <thead>
      <tr>
        <th>Nr.</th>
        <th>Date</th>
        <th>Price</th>
        <th>Gas station</th>
        <th>City</th>
        <th>Address</th>
      </tr>
    </thead>
    <tbody>
      @for(result of paginatedResults; track $index){
      <tr
        [ngClass]="{ 'has-background-link': selectedIndex === $index }"
        (click)="highlightStation(result)"
      >
        <th>{{ $index + 1 }}</th>
        <td>
          {{ result.date }}
        </td>
        <td>
          {{ result.price }}
        </td>
        <td>
          <div class="is-flex is-align-items-center">
            <img
              class="image is-32x32 mr-3"
              src="https://www.peco.md/{{ result.image }}"
              alt="{{ result.gasStation }}"
              title="{{ result.gasStation }}"
            />
            <span>
              {{ result.gasStation }}
            </span>
          </div>
        </td>
        <td>
          {{ result.city }}
        </td>
        <td>
          {{ result.address }}
        </td>
      </tr>
      }
    </tbody>
  </table>
</section>
<section class="section">
  <div *ngIf="fuelResults.length > 0">
    <button
      class="button"
      (click)="previousPage()"
      [disabled]="currentPage === 1"
    >
      Previous
    </button>
    <button class="button">{{ currentPage }} / {{ totalPages }}</button>
    <button
      class="button"
      (click)="nextPage()"
      [disabled]="currentPage === totalPages"
    >
      Next
    </button>
  </div>
</section>
